{% extends 'base.html' %}

{% block title %}
  neat
{% endblock %}

{% block header %}
  <h3>neat</h3>
{% endblock %}

{% block content %}
  <p>
    <a href="{{ url_for('portal.create_task') }}" >添加任务</a>
  </p>

  {% from "_formhelpers.html" import render_field %}
  <form method="post" id="service_form" >
    {{ form.csrf_token }}
    {{ render_field(form.task) }}
    {{ render_field(form.server) }}
    {{ render_field(form.group) }}
    {{ render_field(form.type) }}
    <p>
      <input type="submit" value="提交" id="submit">
      <input type="reset" value="重置">
    </p>
  </form>

  <p>
    <label for="command">命令</label>
    <input type="text" id='command' name="command">
  </p>
  <p>
    <input type="button" value="提交" id="submit_command">
  </p>


  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>任务名</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task['id'] }}</td>
          <td>{{ task['name'] }}</td>
          <td>{{ task['notes'] }}</td>
          <td>
            <button type="button" >下载</button>
            <button type="button">删除</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
